<div mat-dialog-content>
  <p>Activa tu cuenta</p>
  <mat-form-field>
    <mat-label>Teléfono</mat-label>
    <input matInput disabled [mask]="telefono" prefix="+52 " [(ngModel)]="activar.Telefono">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Crear una clave</mat-label>
    <input matInput [(ngModel)]="activar.Clave" type="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Código recibido (SMS)</mat-label>
    <input matInput [mask]="codigo" [(ngModel)]="activar.Codigo" (ngModelChange)="activar.Codigo = $event.toUpperCase()">
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="Cancelar()">Cancelar</button>
    <button mat-button color="primary" (click)="Activar()" cdkFocusInitial>Activar</button>
</div>